@import '../../global/globalStyle.less';

.hoverBefore {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  content: '';
  height: 100%;
  display: block;
  background: @primary-color;
}

.menustyle {
  border: none;
  letter-spacing: 0.1em;
  .el-menu-item.is-active {
    position: relative;
    &:before {
      .hoverBefore;
    }
  }
}

.aside {
  min-height: 100%;
  background: #FFF;
  user-select: none;
  .el-menu {
    .menustyle;
  }
}

.popperappend {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  .el-menu {
    .menustyle;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}