@import '../../../global/globalStyle.less';

.subList {
  background: transparent;
  .fas {
    font-size: 2em;
    display: block;
    margin-bottom: 0.5rem;
    color: @grayScale-color_8;
  }
  .title {
    line-height: 4;
    color: @grayScale-color_8;
  }
}