@import '../../global/globalStyle.less';

.el-header {
  background: #fff;
  color: @grayScale-color_3;
  .header {
    line-height: 60px;
    .head_l {
      .fa {
        cursor: pointer;
      }
    }
    .head_r {
      text-align: right;
      .el-input {
        width: auto;
        .el-input__inner {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #dcdfe6;
        }
      }
    }
  }
}