@import '../../global/globalStyle.less';

.login {
  height: 100vh;
  background: @grayScale-color_8;
  .el-col {
    display: flex;
    align-items: center;
  }
  .el-card {
    flex: 1;
    cursor: pointer;
    text-align: center;
    color: @primary-color;
  }
  .el-card__body {
    height: 100px;
    font-size: 2em;
    line-height: 100px;
  }
}